@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-size: 16px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
address,
i,
p {
    margin-top: 0;
    font-weight: 300;
}


.cabecalho {
    display: inline-block;
    position: relative;
  }

.cabecalho h1 {
    position: relative;
    top: 30%;
    left: 12%;
    font-size: 1.5em;
    color: white;
    font-weight: 600;
    line-height: 2;
    text-decoration-line: overline underline;
    text-decoration-color: #ffffff;
    text-decoration-thickness: 0.01em;
  }

.cabecalho p{
    position: absolute;
    color: white;
    top: 70%;
    font-size: 0.8em;
    left: 3%

}

button {
    margin: 30px;
  }

.btn-1 {
    background:rgb(203, 205, 209);
    border: none;
  }

.btn-1:hover {
    background: rgb(138, 171, 237);
  }